###consul服务端口号
server:
  port: 8006

spring:
  application:
    name: consul-provider-payment
  cloud:
    consul:
      host: http://118.178.139.234
      port: 8500
      discovery:
        service-name: ${spring.application.name}
management:
  endpoint:
    health:
      show-details: always
